/*--- The Guy ---*/
.TheGuy img {
  display: block;
  width: 300px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0px 0px 30px lightsteelblue; }
  @media only screen and (max-width: 480px) {
    .TheGuy img {
      width: 230px; } }

.TheGuy h2 {
  top: -60px;
  line-height: normal;
  letter-spacing: normal;
  margin: 15px;
  font-size: 2.5rem;
  text-shadow: 0px 0px 20px #744589;
  text-align: center; }

.TheGuy p {
  top: -45px;
  width: auto;
  display: block;
  float: left;
  font-family: monospace; }

/*--- The Methods ---*/
.TheMethods .lan {
  display: block;
  height: auto;
  margin: 0 auto; }
  .TheMethods .lan img {
    margin: 0;
    margin-right: 7.1429%;
    height: 100px; }
    .TheMethods .lan img:first-of-type {
      margin-left: 7.1429%; }
