$primary: rgba(116,69,137,1)
$secondary: rgba(255,215,0,1)
$tertiary: rgba(176,196,222,1)

/*--- The Guy ---*/
.TheGuy
  background: blue
  img
    width: 300px
    float: right
    border-bottom-left-radius: 50%
    @media only screen and (max-width: 480px)
      display: none
  h2
    float: right
    line-height: normal
    letter-spacing: normal
    margin: 15px
    font-size: 2.5rem
    text-align: right
    @media only screen and (max-width: 480px)
      text-align: center
  p
    width: auto
    display: block
    float: left
    font-family: monospace
