.react-tabs__tab-list {
  width: 100%;
  margin: 0;
  padding: 0;
}
.react-tabs__tab {
  color: rgba(255,215,0,1);
  text-align: center;
  width: 20%;
  float: left;
  display: inline-block;
  position: relative;
  list-style: none;
  cursor: pointer;
}
.react-tabs__tab:hover{
  font-weight: bolder;
  text-shadow: 0px 0px 4px black, 7px 0px 5px rgba(176,196,222,1), -7px 0px 5px rgba(176,196,222,1);
}
.react-tabs__tab--selected {
  color: rgba(176,196,222,1);
  display: block;
  font-weight: bolder;
  border-radius: 5px 5px 0 0;
  text-shadow: 0px 0px 4px black, 7px 0px 5px rgba(176,196,222,1), -7px 0px 5px rgba(176,196,222,1);
}
.react-tabs__tab--selected:hover{
  text-shadow: 0px 0px 4px black, 7px 0px 5px rgba(176,196,222,1), -7px 0px 5px rgba(176,196,222,1);
  font-weight: bolder;
}
.react-tabs__tab-panel {
  display: none;
}
.react-tabs__tab-panel--selected {
  clear: both;
  display: block;
}
.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}
.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}
.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}
/* --- General -- */
.tabs{
  background: black;
  width: 100%;
  float: right;
  margin: auto;
}
.react-tabs__tab-panel--selected div{
  height: 70vh;
  padding: 22.5px;
  overflow-y: auto;
  overflow-x: hidden;
}
