header {
  width: 100%;
  background: black;
  height: 15vh; }
  header img {
    height: calc(100% - 15px);
    top: 5px;
    position: relative;
    margin: 0 auto;
    display: block;
    opacity: .7; }
  header h1 {
    position: absolute;
    top: 60%;
    width: 100%;
    color: gold;
    font-size: 2em;
    text-align: center;
    text-shadow: 0px 0px 4px black, 5px 0px 5px lightsteelblue, -5px 0px 5px lightsteelblue; }
    @media only screen and (max-width: 768px) {
      header h1 {
        top: 10%;
        letter-spacing: normal; } }
